=javascript_include_tag 'toggle.js'
=javascript_include_tag 'utils/facebox.js'
-user = current_user
:javascript
  var user_id = #{user.id};
  var tour_id = '0';
%h1
  .User_Header
    -if user.is_admin == false
      ="#{user.username}'s Profile"
      %br
      
      %br
    -else
      ="Administration"
      
-if user.is_admin == nil
  =button_tag "Users", {:class => 'btn btn-large btn-info btn-toggle'}
  #User_Table
    %table{:class => "collapsable"}
      -User.all.each do |user|
        %tr
          %td
            .left-element
              =user.username
          %td
            .right-element
              =button_to "remove",  {:controller => 'users', :action => 'destroy', :id => user.id}, {:class => "btn btn-large btn-remove"}
- if user.is_admin == false
  =render :template=>'library/show', :locals=>{:user_id => user.id}
  #button_panel
    #edit_button
      =button_tag "User Info", {:class => "btn btn-info btn-toggle"}
    #tour_button
      =button_tag 'Tours', {:class => 'btn btn-info btn-toggle1'}
  #Tour_Table
    %table{:class => "collapsable1 table table-hover"}
      %tr
        %td
          .left-element
            ="New Tour"
        %td
          .right-element
            =button_to '+',{:controller=>:tours,:action=>:new,:user_id=>user.id},:remote=>true,:class=>'btn btn-info'
      -user.tours.each do |tour|    
        %tr
          %td
            .left-element
              =tour.name
          %td
            .right-element
              =button_to "view tour", {:controller=>:tours,:action=>:show,:user_id=>user.id,:tour_id=>tour.id},{:class=>'btn btn-info'}