=stylesheet_link_tag 'profile.css.scss'
-user = User.find(current_user.id)
-if folder.id
  %tr
    %td
      .folder
        =image_tag('folder.png')
        .name
          %h3
            = folder.name
        .delete
          =button_to 'x',{:controller=>:folders,:action=>:destroy,:folder_id=>folder.id},:class=>'btn btn-danger'
        .add
          =button_to '+',{:controller=>:photos,:action=>:new,:folder_id=>folder.id},:remote=>true,:class=>'btn btn-info'
      .photos
        %table{:class =>"table-hover"}
          -folder.photos.each do |photo|
            = render photo
                


  