-folder = Folder.find(folder_id)
:javascript
  var folder_id = #{folder.id}
-if folder.id
  .label{:data=> {:fid => folder_id}}
    =image_tag('folder.png',:style => 'margin-right: 20px;')
    %h3
      = folder.name
    =link_to image_tag('remove_icon.png'),folder,{:method=>:delete,:confirm=>"Are you sure?",:class=>'remove'}
    =link_to image_tag('folder.png'),{:controller=>:folders,:action=>:new,:parent_id=>folder_id,:user_id=>current_user.id},{:class=>'add_folder',:remote=>true}
    =link_to image_tag('photography.png'),{:controller=>:photos,:action=>:new,:folder_id=>folder_id},{:class=>'upload_file',:remote=>true}