=stylesheet_link_tag 'folders.css.scss'
-user = User.find(current_user.id)
-if @folder.id
  .folder
    =image_tag('folder.png')
    %h3
      = @folder.name
    =button_to '+',{:controller=>:folders,:action=>:new,:parent_id=>@folder.id, :user_id=>user.id},{:remote=>true,:class=>'add_folder',:style => "display: none;"}
    =button_to 'x',{:controller=>:folders,:action=>:destroy,:folder_id=>@folder.id},{:class=>'delete',:style => "display: none;"}
    =button_to '+',{:controller=>:photos,:action=>:new,:folder_id=>@folder.id},{:remote=>true,:class=>'add_photo',:style => "display: none;"}
    =button_to '+',{:controller=>:folders,:action=>:show,:folder_id=>@folder.id},{:remote=>true,:class=>'show_folder',:style => "display: none;"}
  -if !@folder.photos.empty?
    -@folder.photos.each do |photo|
      =render photo
-if !@folder.childs.empty?
  -@folder.childs.each do |child|
    = render child, :as=>:folder