-user = User.find(current_user.id)
=form_for user.tours.new do |f|
  =f.text_field :name ,{:placeholder=>'enter tour new'}
  =f.hidden_field :user_id
  =f.submit "create tour",{:class=>'btn btn-info'}