-user = User.find(current_user.id)
#preview
%h2
  ="File Library:"
#folder_form
  = render :template=>'folders/new',:remote=>true
#file_explorer
  -if !user.folders.empty?
    %table{:class=>"table-condensed"}
      -user.folders.reverse.each do |folder|
        -if folder.id?
          = render folder