-user = User.find(current_user.id)
%h2
  ="File Library:"
#folder_form
  =button_to '+',{:controller=>:folders,:action=>:new,:user_id=>user.id,:parent_id=>nil},:remote=>true,:class=>'btn btn-info'
#library_buttons
  #new_fol
    = button_tag image_tag('folder.png')
  #new_pho
    = button_tag image_tag('dcam.png')
  #delete_tool
    = button_tag 'X', {:class=>'btn btn-danger'}
#file_explorer
  -if !user.folders.empty?
    %table{:id=>'folder_table',:class=>"table-condensed"}
      %tbody
        -user.folders.reverse.each do |folder|
          -if folder.id? && !folder.parent_id?
            = render folder, :as=>:folder
