-folder = Folder.find(params[:folder_id])
%h3
  = "Choose Media"
=form_for folder.photos.new, :remote=> true do |f|
  = f.hidden_field :folder_id
  #ffield
    =button_tag 'Browse',:id=>'choose',:class=>'btn btn-info'
    = f.file_field :image, multiple: true, name: "photo[image]"
  = f.submit 'Add Media', :class=>'btn btn-info'