.fol{
  padding:10px;
    .add_folder{
       display:none;
    }
    .folder{
        display:table-row;
        padding:20px;
        img{
        float:left;
        }
          .name{
            display:table-row;
            h3{
                
            }
          }
          .delete{
             display:none;
            .btn{
                display:none;
                width:.5px;
            }
          }
          .add{
            display:none;
          .btn{
              display:none;
              width:1px;
            }
          }
      }
}


  