.table-hover{
  float:left;     
  width:200px;
            .fol{
              display:inline;
                td{
                .add_folder{
                   display:none;
                }
                .folder{
                    margin-left:50px;
                    padding:20px;
                    img{
                        float:left;
                    }
                      .name{
                        h3{
                            
                        }
                      }
                      .delete{
                         display:none;
                        visibility: hidden;
                        .btn-danger{
                            display:none;
                            width:.5px;
                        }
                      }
                      .add{
                        display:none;
                        visibility: hidden;
                        .btn-info{
                            display:none;
                            width:1px;
                        }
                      }
                    }
            }
        }
        
    }
  