#facebox{
    text-align: center;
}
#name{
    width:10px;
}
#profile_button{
    
}
#site_form{
    float:left
}
#map_canvas {
    height: 600px;
    width: 600px;
    float: left
    }
#file_display{
    float:left;
    .pic{
        display: inline;
        float:left
    }
   
}